# DATAGERRY listing theme
# Example configuration

Options +Indexes

<IfModule mod_autoindex.c>
    IndexHeadInsert "<meta name='viewport' content='width=device-width, initial-scale=1'></meta><meta http-equiv='X-UA-Compatible' content='IE=edge'></meta> <link rel='icon' type='image/png' href='/theme/img/icon/datagerry.png'></link><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'></link><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script><script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>"

    IndexOptions +HTMLTable +FancyIndexing +FoldersFirst +IconsAreLinks +IgnoreCase +SuppressDescription +XHTML +IconWidth=16 +IconHeight=16 +NameWidth=*
    IndexIgnore .htaccess /theme
    IndexStyleSheet /theme/main.css
    AddCharset UTF-8 .html
   
    HeaderName /theme/header.html
    ReadmeName /theme/footer.html
    DefaultIcon /theme/img/icons/datagerry.svg
    AddIcon /theme/img/icons/undo.svg ..
    AddIcon /theme/img/icons/file.svg .txt 
    AddIcon /theme/img/icons/folder-open.svg ^^DIRECTORY^^
    AddIcon /theme/img/icons/redhat.svg .rpm
    AddIcon /theme/img/icons/archive.svg .tar.gz
</IfModule>
