# DATAGERRY listing theme
# Example configuration

Options +Indexes

<IfModule mod_autoindex.c>
    IndexHeadInsert "<link rel='stylesheet' <link rel='icon' type='image/png' href='/theme/img/icon/datagerry.png'><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'><script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script><script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>"

    IndexOptions +HTMLTable +FancyIndexing +FoldersFirst +IconsAreLinks +IgnoreCase +SuppressDescription +XHTML +IconWidth=16 +IconHeight=16 +NameWidth=*
    IndexIgnore .htaccess /theme
    IndexStyleSheet /theme/main.css
    

    HeaderName /theme/header.html
    ReadmeName /theme/footer.html
    DefaultIcon /theme/img/icons/datagerry.svg
    AddIcon /theme/img/icons/undo.svg ..
    AddIcon /theme/img/icons/file.svg .txt 
    AddIcon /theme/img/icons/folder-open.svg ^^DIRECTORY^^
    AddIcon /theme/img/icons/redhat.svg .rpm
    AddIcon /theme/img/icons/archive.svg .tar.gz
</IfModule>
