@font-face {
    font-family: "Raleway";
    src: url("/theme/fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/theme/fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/theme/fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: 550;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/theme/fonts/Raleway-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("/theme/fonts/Raleway-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@media only screen and (max-width: 700px) {
	.footer {
               position: static !important;
	}
	.body {
              margin-bottom: 0 !important;
	}
	.logo {
              width: 125px !important;
	      height: 40px !important;
	}
	.indexcollastmod {
              display: none;
	      visibility: hidden;
	}
}

hr {
    margin: 0 0 0 0 !important;
}

.no-margin {
    margin: 0 0 0 0 !important;
    padding 0 0 0 0 !important;
}

.logo {
   width: 250px;
   height: 75px;
}

.img {
    max-width: 200px;
    min-width: 100px;
    vertical-align: middle;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #e94d18;
    color: white;
    min-height: 250px;
    height: 10%;
    margin-top: 30px;
}

th td  a {
        color: #e94d18 !important;
       	margin: 10px 0;
}


tr td  a {
	color: #e94d18 !important;
        margin: 10px 0;
}

table  {
	width: 60%;
	align: center;
	margin-left: 20%;
}

.indexcolicon {
   margin: 0 0 0 0;
   width: 7.5%;
}

.border-container {
    width: 75%;
    align-self: center;
    margin-left: 12.5%;
    height: 100%;
}

.icon {
    max-width: 16px;
    max-height: 16px;
    padding: 0 0 0 0;
    margin-bottom: 1rem;
}

 .color-orange{
  color: #e94d18 !important;
}



 .color-white{
     color: white !important;
 }

.indexcolname {
    width: 33%;
    text-align: left !important;
}

tr td.indexcolicon img {
     color: #e94d18 !important;
     filter: invert(37%) sepia(25%) saturate(3906%) hue-rotate(349deg) brightness(96%) contrast(99%); 
     opacity: 1;
}

.svg {
     filter: invert(37%) sepia(25%) saturate(3906%) hue-rotate(349deg) brightness(96%) contrast(99%);
     height: 32px;
     width: 32px;
}

.indexcollastmod {
	width: 22%;
    text-align: center !important;
}

.indexcolsize {
    text-align: right !important;
}

.indexcoldesc {
    visibility: hidden;
    display: none;
}

a.color-white:hover {
    color: white;
}

a {
    color: #e94d18 !important;
}

.color-black {
    color: black !important;
}

a:not(.color-white):hover {
    text-decoration: underline !important;
    color: #fbba00 !important;
}

a:not(:hover) {
    text-decoration: none;
}

li {
    margin: 5px 0;
}

.paragraph {
    margin: 20px 0 20px 0 ;
}

.align-items-start {
   margin: 0 auto;
}

ul {
    margin: 1rem 0 0 0;
    list-style-type: none;
}

 .bold {
     font-weight: 550 !important;
}

.top {
  margin: 0 auto  0 auto !important;
  padding: 0 0 0 0 !important;
  width: 98% !important;
}

.row {
 
    display: block !important;

}



 .light-text {
     font-weight: 300;
     }

.center {
    text-align: center;
}

body {
    font-family: "Raleway", sans-serif !important;
      
  }

  .body {
    margin-bottom: 260px;
    clear: both;

  }

td {
    margin: 1.5% 0 !important;
    text-align: center !important;
}

td img {
    display: block;
    margin: 0 auto ;
}


